<form class="form-horizontal" method="post">
  <fieldset>
    <legend>用戶註冊</legend>
    <div class="control-group">
      <label class="control-label" for="username">用戶名</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username">
        <p class="help-block">你的賬戶的名稱，用於登錄和顯示。</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">口令</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password-repeat">重複輸入口令</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">註冊</button>
    </div>
  </fieldset>
</form>
